gradient(a, b)
    background: a
    background: -moz-linear-gradient(top, a 0%, b 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,a), color-stop(100%,b))
    background: -webkit-linear-gradient(top, a 0%, b 100%)
    background: -o-linear-gradient(top, a 0%, b 100%)
    background: -ms-linear-gradient(top, a 0%, b 100%)
    background: linear-gradient(to bottom, a 0%, b 100%)

shadow(value)
    -moz-box-shadow: value
    -webkit-box-shadow: value
    box-shadow: value

@font-face
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    src: url('../fonts/LatoBold.woff') format('woff'),
    url('../fonts/LatoBold.ttf') format('truetype')

@font-face
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    src: url('../fonts/LatoRegular.woff') format('woff'),
    url('../fonts/LatoRegular.ttf') format('truetype')

@font-face
    font-family: 'Entypo'
    font-style: normal
    font-weight: 400
    src: url('../fonts/Entypo.woff') format('woff'),
    url('../fonts/Entypo.eot') format('eot'),
    url('../fonts/Entypo.ttf') format('truetype'),
    url('../fonts/Entypo.svg') format('svg')

body, html
    height: 100%

body
    margin: 0
    background: transparent
    -webkit-font-smoothing: antialiased
    background: #DADEE9 url('../img/bg.png') repeat-y top left

    > div
        height: 100%

body, h1, h2, h3, h4, p, li, table thead tr th, table tbody tr td
    font-family: Lato
    color: #68718A

a
    cursor: pointer
    color: #579ED7

    &:hover
        color: darken(#579ED7, 30%)

table
    width: 100%

label
    cursor: default

.label
    border-radius: 2px
    font-weight: normal
    gradient(rgba(#68718a, 0.15), rgba(#68718a, 0.4))
    color: #68718a
    text-shadow: -1px -1px rgba(255,255,255,0.3)
    shadow(inset 1px 1px 3px rgba(#68718a, 0.2))
    border: 1px solid rgba(#68718a, 0.3)

code
    font-size: 10px
    background: inherit

::-webkit-input-placeholder
    color: lighten(#5b617d, 50%)

input[type="checkbox"]
    cursor: pointer

input.filter
    display: none

.help, .help:before
    color: rgba(0,0,0,0.2)
    cursor: pointer
    text-shadow: 1px 1px #FFF

.button
    gradient(#71B9EC, #54A1E7)
    border-color: #5FA4DE
    border-radius: 2px
    font-size: 12px
    text-transform: uppercase
    text-shadow: 1px 1px rgba(0,0,0,0.25)

    &.secondary
        gradient(#FAFBFD, #E8ECF1)
        border-color: #BFCFDA
        color: #838B9F
        text-shadow: 1px 1px #FFF

table.table
    border-collapse: collapse
    border: 0

    tbody
        border: 1px solid #E0E3ED
        border-left: 3px solid #E0E3ED

    tr
        th
            background: #FFF
            border-bottom: 1px solid #E0E3ED

        &:nth-child(odd)
            td
                border-bottom: 1px solid #E0E3ED

        &:nth-child(even)
            td
                background: #F5F6F9

// used on showing a listing of tools
ul.alternating
    list-style-type: square !important

    li
        &.terracotta
            color: #e2674a
        &.goldentainoi
            color: #FFCC66
        &.curiousblue
            color: #3399CC
        &.turq
            color: #33CCCC
        &.strikemaster
            color: #996699
        &.crail
            color: #C24747
        &.deyork
            color: #99CC99
        &.patina
            color: #669999
        &.hopbush
            color: #CC6699
        &.seagreen
            color: #339966
        &.kimberly
            color: #666699

.row
    width: auto
    min-width: auto

div#wrapper
    width: 100%
    min-width: 1000px
    min-height: 100%

header#top
    width: 100%
    // background: url('../img/blackorchid.png')
    color: #97a5b8
    gradient(#455B7C, #3D516E)
    border-bottom: 1px solid #34455E
    shadow(0 0 1px 1px #888)
    text-shadow: -1px -1px rgba(0,0,0,0.2)

    a
        color: #FFF

    .first, .second, .third
        display: inline-block

    .first
        width: 272px

        a
            color: inherit

        h1
            margin: 0
            padding: 10px 0 10px 10px
            font-size: 20px
            line-height: 30px
            color: #FFF
            text-shadow: 1px 1px rgba(0,0,0,0.3)

            span
                font-weight: normal

    .second
        vertical-align: top
        padding-left: 20px
        border-left: 1px solid rgba(0,0,0,0.25)

        input#search
            margin: 10px 10px 10px 0
            width: 400px

    .third
        padding: 10px
        float: right
        width: 250px
        text-align: right
        line-height: 30px

        span
            display: inline-block
            margin: 0 4px
            font-size: 8px
            height: 18px

section#middle
    width: 100%
    padding: 0 0 100px
    height: 100%
    position: relative

    &:after
        content: '.'
        display: block
        clear: both
        visibility: hidden
        height: 0

    &.narrow div.row
        width: 1000px

    div.row
        margin-top: 20px

        h2
            font-size: 20px

        h4
            font-size: 16px
            margin: 0
            margin-bottom: 5px

        ul
            list-style-type: none


    .hidden
        display: none !important

    aside
        position: absolute
        top: 0
        width: 250px

        &#left
            left: 0
            width: 275px

        &#right
            background: #F5F6F9
            border-radius: 2px
            top: 20px
            right: 20px
            border: 1px solid #bccad5
            shadow(-3px 3px 3px rgba(0,0,0,0.05))

            .content
                padding: 10px 15px
                border-radius: 0 0 2px 2px

        &#left
            p, h3, h4, ul, input.filter, .button.show
                margin: 10px

            h3
                margin: 20px 10px

        a
            cursor: pointer
            color: #5B617D
            text-shadow: 1px 1px rgba(255,255,255,0.5)
            display: block
            padding: 2px 0

        h3
            text-transform: uppercase
            font-size: 12px

        h4
            font-size: 14px
            color: #5B617D

        ul
            list-style-type: none
            padding: 0

            li
                background-repeat: no-repeat
                background-position: 0 3px

        table.tabs
            background: inherit
            border: 0
            border-collapse: collapse

            td
                padding: 0
                cursor: pointer
                position: relative

                h3
                    text-transform: uppercase
                    font-weight: bold
                    margin: 15px 10px 10px 15px

                &:before
                    display: inline-block
                    content: ""
                    width: 100%
                    height: 5px
                    position: absolute

                &.active
                    border-right: 1px solid #CAD6DF
                    border-bottom-color: #F5F6F9

                    h3
                        color: #68718a

                    &:before
                        gradient(#74BCF0, #56A7EC)
                        border-right: 5px solid #7C98AB

                &.inactive
                    shadow(inset 2px 1px 5px 0 rgba(0,0,0,0.1))
                    gradient(#F7F9FD, #ECEEF3)
                    border-bottom: 1px solid #CAD6DF

                    h3
                        color: #A7B4C7
                        text-shadow: 1px 1px rgba(255,255,255,0.5)

                    &:before
                        gradient(#AFBED4, #A3B4CE)

    div#widget
        overflow: hidden
        margin-top: 1px
        padding-bottom: 5px

        ul.list, ol.list
            a
                cursor: pointer

        ul.list
            list-style-type: none

        ul.breadcrumbs
            list-style-type: none
            display: none
            gradient(#FFF, #F4F6FB)
            border: 0
            border-bottom: 1px solid #CBD8E2
            margin: 0
            padding-left: 20px
            font-weight: bold

            li
                display: inline-block
                padding: 0

                &::before
                    content: ""

                a
                    cursor: pointer
                    padding: 0 4px

        div.head
            background: #E0E3ED
            shadow(inset 0 3px 5px rgba(0,0,0,0.03))

            h1
                font-size: 22px
                float: left
                margin: 20px
                margin-right: 10px
                text-shadow: 1px 1px rgba(255,255,255,0.8)

                &:before
                    content: ''
                    width: 10px
                    height: 10px
                    display: inline-block
                    border: 4px solid #FFF
                    margin-right: 10px
                    shadow(1px 1px 2px rgba(0,0,0,0.15))

                &.terracotta:before
                    background: #e2674a
                &.goldentainoi:before
                    background: #FFCC66
                &.curiousblue:before
                    background: #3399CC
                &.turq:before
                    background: #33CCCC
                &.strikemaster:before
                    background: #996699
                &.crail:before
                    background: #C24747
                &.deyork:before
                    background: #99CC99
                &.patina:before
                    background: #669999
                &.hopbush:before
                    background: #CC6699
                &.seagreen:before
                    background: #339966
                &.kimberly:before
                    background: #666699

            .entypo
                float: left
                margin: 24px 0 0 20px

            em.ago
                float: left
                margin: 29px 0 0 0

            &:after
                content: ""
                display: block
                clear: both

        h2
            font-size: 18px

        .wrap
            border-radius: 4px
            margin: 20px 295px
            margin-bottom: 0
            padding: 0
            border: 1px solid #BCCAD5
            shadow(-3px 3px 3px rgba(0,0,0,0.05))

        .half
            float: left
            width: 50%

        ul.accordion
            margin: 0
            border: 0
            
            > li
                list-style: none;
                margin: 0;
                padding: 0;
                border-top: 1px solid #CBD8E2
                
                &:last-child
                    > div.title
                        border-radius: 0 0 2px 2px
                        padding-bottom: 17px

                > div.title
                    background: #f6f6f6
                    padding: 15px
                    margin: 0
                    position: relative
                    // border-left: 1px solid #e9e9e9
                    // border-right: 1px solid #e9e9e9
                    -webkit-transition: 0.15s background linear
                    -moz-transition: 0.15s background linear
                    -o-transition: 0.15s background linear
                    transition: 0.15s background linear
                    
                    h1, h2, h3, h4, h5
                        margin: 0;
                    
                    &:after
                        content: ""
                        display: block
                        width: 0
                        height: 0
                        border: solid 6px
                        border-color: transparent #9d9d9d transparent transparent
                        position: absolute
                        right: 15px
                        top: 21px;
                
                .content
                    display: none
                    padding: 15px
        
                &:not(.active)
                    .title
                        gradient(#F6F8FC, #ECEEF3)

                &.active
                    border-top: 1px solid #bccad5

                    .title
                        background: white
                        padding-top: 13px
                        
                        &:after
                            content: ""
                            display: block
                            width: 0
                            height: 0
                            border: solid 6px
                            border-color: #9d9d9d transparent transparent transparent
        
                    .content
                        background: #FFF
                        display: block
                        // border-left: 1px solid #e9e9e9
                        // border-right: 1px solid #e9e9e9

div#history
    position: absolute
    bottom: 0
    left: 275px // width of the sidebar
    height: 33% // take up this much of the screen

    div.container
        background: #FFF
        margin-left: 20px
        height: 100%
        border: 1px solid #bccad5
        border-bottom: 0
        border-radius: 2px 2px 0 0
        shadow(-3px 3px 3px rgba(0,0,0,0.05))

    div.head
        padding: 10px
        background: #e0e3ed
        //shadow(inset 0 3px 5px rgba(0,0,0,0.03))
        margin-bottom: 20px
        border-bottom: 1px solid #bccad5
        
        a.button
            margin-top: 6px

        h1
            font-size: 22px
            margin: 0
            text-shadow: 1px 1px rgba(255,255,255,0.8)
        
            span
                margin-right: 4px

        p
            display: none

        a.button
            float: right

        &:after
            content: ""
            clear: both
            display: block

    #tools
        margin: 0 10px
        padding: 0
        overflow-x: auto
        overflow-y: auto
        position: relative

        // canvas for connectors
        svg.canvas
            position: absolute
            top: 0
            left: 0

            line.connector
                stroke: lighten(#000, 80%)
                stroke-width: 1px

        // table based system
        table.grid
            position: absolute
            top: 0
            left: 0
            z-index: 2 // over svg
            border-collapse: collapse
            border: 0
            margin: 0
            padding: 0
            background: transparent

            tr
                background: transparent // no alt bg bullshit

            td
                padding: 0
                text-align: center

        // div based system
        div.step
            display: inline-block
            width: 100px
            margin: 5px 0

            div.wrap
                width: 80px
                margin: 0 auto

            colors = (terracotta #E2674A) (goldentainoi #FFCC66) (curiousblue #3399CC) (turq #33CCCC) (strikemaster #996699) (crail #C24747) (deyork #99CC99) (patina #669999) (hopbush #CC6699) (seagreen #339966) (kimberly #666699)

            for color in colors
                &.{color[0]} .box
                    background: lighten(color[1], 40%)
                    border: 1px solid darken(color[1], 20%)
                    border-width: 3px 1px 1px 1px
                    color: darken(color[1], 20%)
                    shadow(inset 1px 1px 5px rgba(0,0,0,0.1))

                &.active.{color[0]} .box
                    background: color[1]
                    if dark(darken(color[1], 20%))
                        color: #FFF
                    else
                        color: darken(color[1], 50%)

            em.ago
                text-align: center
                display: block
                font-size: 9px

            a
                color: inherit

            div.box
                height: 25px
                overflow: hidden
                text-align: center
                vertical-align: middle
                border-radius: 2px

                h5
                    height: 20px
                    line-height: 20px
                    font-size: 10px
                    margin: 0

                p
                    display: none

footer
    position: fixed
    bottom: 0
    left: 0

    &#wide
        // gradient(rgba(255,255,255,0), rgba(255,255,255,1))
        width: 100%
        padding-top: 100px

        p
            text-align: center

    &#bottom
        // gradient(rgba(255,255,255,0), rgba(255,255,255,1))
        width: 275px
        // padding-top: 100px

        .wrap
            text-align: center
            padding: 20px

.button
    display: inline-block
    padding: 6px 30px
    text-decoration: none
    position: relative
    line-height: 1

    &:active
        top: 1px

#modal
    div.reveal-modal
        border: #bccad5
        border-radius: 2px
        padding: 0

    .scroll
        overflow-y: auto
        margin: 10px

    h1
        font-size: 22px
        margin: 0
        color: #68718a
        text-shadow: 1px 1px rgba(255,255,255,0.8)
        background: #e0e3ed
        padding: 10px
        border-bottom: 1px solid #bccad5
        border-radius: 2px 2px 0 0

    .close-reveal-modal
        color: #68718a
        margin-top: 15px

.pricing-table
    border: solid 1px #DDD
    margin-left: 0
    margin-bottom: 20px
    
    *
        list-style: none
        line-height: 1

    .title
        background-color: #DDD
        padding: 15px 20px
        text-align: center
        color: #333
        font-weight: bold
        font-size: 16px
    
    .price
        background-color: #EEE
        padding: 15px 20px
        text-align: center
        color: #333
        font-weight: normal
        font-size: 20px
    
    .description
        background-color: #FFF
        padding: 15px
        text-align: center
        color: #777
        font-size: 12px
        font-weight: normal
        line-height: 1.4
        border-bottom: dotted 1px #DDD
    
    .bullet-item
        background-color: #FFF
        padding: 15px
        text-align: center
        color: #333
        font-size: 14px
        font-weight: normal
        border-bottom: dotted 1px #DDD
    
    .cta-button
        background-color: whitesmoke
        text-align: center
        padding: 20px

.entypo
    &:before
        font-family: "Entypo"
        font-weight: normal
        font-size: 1.8em
        line-height: 1em
    
    &.lock:before
        content: "\1f512"
    &.backintime:before
        content: "\e771"
    &.lightup:before
        content: "\1f506"
    &.rightopen:before
        content: "\e762"
    &.clippy:before
        content: "\1f4ce"
    &.crossroads:before
        content: "\e723"
    &.flowbranch:before
        content: "\1F569"
    &.openbook:before
        content: "\1f4d6"
    &.lifebuoy:before
        content: "\e788"
    &.comment:before
        content: "\e718"
    &.help:before
        content: "\2753"