/** ============== nib functions ============== */

vendor-prefixes = webkit moz o ms official

is-comma-list()
    return match('\), \(', ''+arguments)

replace-args(args,argument,val)
    result = ()
    if is-comma-list(args)
        for subargs in args
            subresult = ()
            for arg in subargs
                arg = unquote(val) if arg == argument
                push(subresult, arg)
            subresult = literal-join(' ', subresult) if length(subresult) > 1
            push(result, subresult)
        result = literal-join(', ', result)
    else
        for arg in args
            arg = unquote(val) if arg == argument
            push(result, arg)
    return result

replace(expr, str, val)
    expr = clone(expr)
    for e, i in expr
        if length(e) > 1
            expr[i] = replace(e, str, val)
        else
            if str == e
                expr[i] = val
    expr

normalize-stops(stops)
    stops = clone(stops)
    for stop, i in stops
        if length(stop) == 1
            color = stop[0]
            stop[0] = pos-in-stops(i, stops)
            stop[1] = color
        else if typeof(stop[1]) == 'unit'
            pos = stop[1]
            stop[1] = stop[0]
            stop[0] = pos
    stops

join-stops(stops, translate)
    str = ''
    len = length(stops)
    for stop, i in stops
        str += ', ' if i
        pos = stop[0]
        color = stop[1]
        str += translate(color, pos)
    unquote(str)

pos-in-stops(i, stops)
    len = length(stops)
    if len - 1 == i
        100%
    else if i
        unit(i / len * 100, '%')
    else
        0%

std-stop(color, pos)
    '%s %s' % (color pos) 

vendor(prop, args, only = null, ignore = null)
    for prefix in vendor-prefixes
        unless (only and !(prefix in only)) or (ignore and prefix in ignore)
            if official == prefix
                {prop}: args
            else
                newargs = args
                // Adjusting the args if needed
                if prop in ('transition' 'transition-property')
                    newargs = replace-args(args, transform, '-' + prefix + '-transform')
                {'-' + prefix + '-' + prop}: newargs

linear-gradient(start, stops...)
    prop = current-property[0]
    val = current-property[1]

    if start is a 'color'
        unshift(stops, start)
        start = top

    stops = normalize-stops(stops)

    stops = join-stops(stops, std-stop)
    for prefix in vendor-prefixes
        unless prefix == official
            gradient = '-%s-linear-gradient(%s, %s)' % (prefix start stops)     
            add-property(prop, replace(val, '__CALL__', gradient))

    'linear-gradient(%s, %s)' % (start stops)

box-shadow()
    vendor('box-shadow', arguments, only: webkit official)

transition()
    vendor('transition', arguments)

/** ============== Theme colors as vars ============== */

$colors = (terracotta #E2674A) (goldentainoi #FFCC66) (curiousblue #3399CC) (turq #33CCCC) (strikemaster #996699) (crail #C24747) (deyork #99CC99) (patina #669999) (hopbush #CC6699) (seagreen #339966) (kimberly #666699)

/** ============== Fonts ============== */

@font-face {
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    src: url('../fonts/LatoBold.woff') format('woff'),
    url('../fonts/LatoBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    src: url('../fonts/LatoRegular.woff') format('woff'),
    url('../fonts/LatoRegular.ttf') format('truetype')
}

@font-face {
    font-family: 'Entypo'
    font-style: normal
    font-weight: 400
    src: url('../fonts/Entypo.woff') format('woff'),
    url('../fonts/Entypo.eot') format('eot'),
    url('../fonts/Entypo.ttf') format('truetype'),
    url('../fonts/Entypo.svg') format('svg')
}

/** ============== Generic styles ============== */

body, html
    height: 100%

body
    margin: 0
    -webkit-font-smoothing: antialiased
    background: #DADEE9 url('../img/bg.png') repeat-y top left

    > div
        height: 100%

body, h1, h2, h3, h4, p, li, table thead tr th, table tbody tr td
    font-family: Lato
    color: #68718A

a
    cursor: pointer
    color: #579ED7

    &:hover
        color: darken(#579ED7, 30%)

table
    width: 100%

label
    cursor: default

.label
    border-radius: 2px
    font-weight: normal
    background: linear-gradient(rgba(#68718a, 0.15), rgba(#68718a, 0.4))
    color: #68718a
    text-shadow: -1px -1px rgba(255,255,255,0.3)
    box-shadow: inset 1px 1px 3px rgba(#68718a, 0.2)
    border: 1px solid rgba(#68718a, 0.3)

code
    font-size: 10px
    background: inherit

::-webkit-input-placeholder
    color: lighten(#5b617d, 50%)

input[type="checkbox"]
    cursor: pointer

input.filter
    display: none

.help, .help:before
    color: rgba(0,0,0,0.2)
    cursor: pointer

.button
    background: linear-gradient(#71B9EC, #54A1E7)
    border-color: #5FA4DE
    border-radius: 2px
    font-size: 12px
    text-transform: uppercase
    text-shadow: 1px 1px rgba(0,0,0,0.25)

    &.secondary
        background: linear-gradient(#FAFBFD, #E8ECF1)
        border-color: #BFCFDA
        color: #838B9F
        text-shadow: 1px 1px #FFF

table.table
    border-collapse: collapse
    border: 0

    tbody
        border: 1px solid #E0E3ED
        border-left: 3px solid #E0E3ED

    tr
        th
            background: #FFF
            border-bottom: 1px solid #E0E3ED

        &:nth-child(odd)
            td
                border-bottom: 1px solid #E0E3ED

        &:nth-child(even)
            td
                background: #F5F6F9

// used on showing a listing of tools
ul.alternating
    list-style-type: square !important

    li
        for color in $colors
            &.{color[0]}
                color: color[1]

.row
    width: auto
    min-width: auto

/** ============== Elements ============== */

div#wrapper
    width: 100%
    min-width: 1000px
    min-height: 100%

header#top
    width: 100%
    color: #97a5b8
    background: linear-gradient(#455B7C, #3D516E)
    border-bottom: 1px solid #34455E
    box-shadow: 0 0 1px 1px #888
    text-shadow: -1px -1px rgba(0,0,0,0.2)

    a
        color: #FFF

    .first, .second, .third
        display: inline-block

    .first
        width: 272px

        a
            color: inherit

        h1
            margin: 0
            padding: 10px 0 10px 10px
            font-size: 20px
            line-height: 30px
            color: #FFF
            text-shadow: 1px 1px rgba(0,0,0,0.3)

            span
                font-weight: normal

    .second
        vertical-align: top
        padding-left: 20px
        border-left: 1px solid rgba(0,0,0,0.25)

        input#search
            margin: 10px 10px 10px 0
            width: 400px

    .third
        padding: 10px
        float: right
        width: 250px
        text-align: right
        line-height: 30px

        span
            display: inline-block
            margin: 0 4px
            font-size: 8px
            height: 18px

section#middle
    width: 100%
    padding: 0 0 100px
    height: 100%
    position: relative

    &:after
        content: '.'
        display: block
        clear: both
        visibility: hidden
        height: 0

    &.narrow div.row
        width: 1000px

    div.row
        margin-top: 20px

        h2
            font-size: 20px

        h4
            font-size: 16px
            margin: 0
            margin-bottom: 5px

        ul
            list-style-type: none


    .hidden
        display: none !important

    aside
        position: absolute
        top: 0
        width: 250px

        &#left
            left: 0
            width: 275px

        &#right
            background: #F5F6F9
            border-radius: 2px
            top: 20px
            right: 20px
            border: 1px solid #bccad5
            box-shadow: -3px 3px 3px rgba(0,0,0,0.05)

            .content
                padding: 10px 15px
                border-radius: 0 0 2px 2px

        &#left
            p, h3, h4, ul, input.filter, .button.show
                margin: 10px

            h3
                margin: 20px 10px

        a
            cursor: pointer
            color: #5B617D
            text-shadow: 1px 1px rgba(255,255,255,0.5)
            display: block
            padding: 0
            border-top: 1px solid transparent
            border-bottom: 1px solid transparent
            transition: color 100ms ease-out

            &:hover
                background: linear-gradient(#8AC8F1, #59A6E8)
                border-top: 1px solid #5FA4DE
                border-bottom: 1px solid #4D93D8
                color: #FFF
                text-shadow: 1px 1px #4D93D8
                margin: 0 -10px
                padding: 0 10px
                box-shadow: inset 0 0 2px 0 rgba(255,255,255,0.5)

        h3
            text-transform: uppercase
            font-size: 12px

        h4
            font-size: 14px
            color: #5B617D

        ul
            list-style-type: none
            padding: 0

            li
                background-repeat: no-repeat
                background-position: 0 3px

        table.tabs
            background: inherit
            border: 0
            border-collapse: collapse

            td
                padding: 0
                cursor: pointer
                position: relative

                h3
                    text-transform: uppercase
                    font-weight: bold
                    margin: 15px 10px 10px 15px

                &:before
                    display: inline-block
                    content: ""
                    width: 100%
                    height: 5px
                    position: absolute

                &.active
                    border-right: 1px solid #CAD6DF
                    border-bottom-color: #F5F6F9

                    h3
                        color: #68718a

                    &:before
                        background: linear-gradient(#74BCF0, #56A7EC)
                        border-right: 5px solid #7C98AB

                &.inactive
                    box-shadow: inset 2px 1px 5px 0 rgba(0,0,0,0.1)
                    background: linear-gradient(#F7F9FD, #ECEEF3)
                    border-bottom: 1px solid #CAD6DF

                    h3
                        color: #A7B4C7
                        text-shadow: 1px 1px rgba(255,255,255,0.5)

                    &:before
                        background: linear-gradient(#AFBED4, #A3B4CE)

    div#widget
        overflow: hidden
        margin-top: 1px
        padding-bottom: 5px

        ul.list, ol.list
            a
                cursor: pointer

        ul.list
            list-style-type: none

        ul.breadcrumbs
            list-style-type: none
            display: none
            background: linear-gradient(#FFF, #F4F6FB)
            border: 0
            border-bottom: 1px solid #CBD8E2
            margin: 0
            padding-left: 20px
            font-weight: bold

            li
                display: inline-block
                padding: 0

                &::before
                    content: ""

                a
                    cursor: pointer
                    padding: 0 4px

        div.head
            background: #E0E3ED
            box-shadow: inset 0 3px 5px rgba(0,0,0,0.03)

            h1
                font-size: 22px
                float: left
                margin: 20px
                margin-right: 10px
                text-shadow: 1px 1px rgba(255,255,255,0.8)

                &:before
                    content: ''
                    width: 10px
                    height: 10px
                    display: inline-block
                    border: 4px solid #FFF
                    margin-right: 10px
                    box-shadow: 1px 1px 2px rgba(0,0,0,0.15)

                for color in $colors
                    &.{color[0]}:before
                        background: color[1]

            .entypo
                float: left
                margin: 24px 0 0 20px

            em.ago
                float: left
                margin: 29px 0 0 0

            &:after
                content: ""
                display: block
                clear: both

        h2
            font-size: 18px

        .wrap
            border-radius: 4px
            margin: 20px 295px
            margin-bottom: 0
            padding: 0
            border: 1px solid #BCCAD5
            box-shadow: -3px 3px 3px rgba(0,0,0,0.05)

        .half
            float: left
            width: 50%

        ul.accordion
            margin: 0
            border: 0
            
            > li
                list-style: none;
                margin: 0;
                padding: 0;
                border-top: 1px solid #CBD8E2
                
                &:last-child
                    > div.title
                        border-radius: 0 0 2px 2px
                        padding-bottom: 17px

                > div.title
                    background: #f6f6f6
                    padding: 15px
                    margin: 0
                    position: relative
                    transition: 0.15s background linear
                    
                    h1, h2, h3, h4, h5
                        margin: 0;
                    
                    &:after
                        content: ""
                        display: block
                        width: 0
                        height: 0
                        border: solid 6px
                        border-color: transparent #9d9d9d transparent transparent
                        position: absolute
                        right: 15px
                        top: 21px;
                
                .content
                    display: none
                    padding: 15px
        
                &:not(.active)
                    .title
                        background: linear-gradient(#F6F8FC, #ECEEF3)

                &.active
                    border-top: 1px solid #bccad5

                    .title
                        background: white
                        padding-top: 13px
                        
                        &:after
                            content: ""
                            display: block
                            width: 0
                            height: 0
                            border: solid 6px
                            border-color: #9d9d9d transparent transparent transparent
        
                    .content
                        background: #FFF
                        display: block

div#history
    position: absolute
    bottom: 0
    left: 275px
    height: 33%

    div.container
        background: #FFF
        margin-left: 20px
        height: 100%
        border: 1px solid #bccad5
        border-bottom: 0
        border-radius: 2px 2px 0 0
        box-shadow: -3px 3px 3px rgba(0,0,0,0.05), 3px -3px 5px rgba(#DADEE9, 0.5)

    div.head
        padding: 10px
        background: #e0e3ed
        margin-bottom: 20px
        border-bottom: 1px solid #bccad5
        
        a.button
            margin-top: 6px

        h1
            font-size: 22px
            margin: 0
            text-shadow: 1px 1px rgba(255,255,255,0.8)
        
            span
                margin-right: 4px

        p
            display: none

        a.button
            float: right

        &:after
            content: ""
            clear: both
            display: block

    #tools
        margin: 0 10px
        padding: 0
        overflow-x: auto
        overflow-y: auto
        position: relative

        // canvas for connectors
        svg.canvas
            position: absolute
            top: 0
            left: 0

            line.connector
                stroke: lighten(#000, 80%)
                stroke-width: 1px

        // table based system
        table.grid
            position: absolute
            top: 0
            left: 0
            z-index: 2 // over svg
            border-collapse: collapse
            border: 0
            margin: 0
            padding: 0
            background: transparent

            tr
                background: transparent // no alt bg bullshit

            td
                padding: 0
                text-align: center

        // div based system
        div.step
            display: inline-block
            width: 100px
            margin: 5px 0

            div.wrap
                width: 80px
                margin: 0 auto

            for color in $colors
                &.{color[0]} .box
                    background: lighten(color[1], 40%)
                    border: 1px solid darken(color[1], 20%)
                    border-width: 3px 1px 1px 1px
                    color: darken(color[1], 20%)
                    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1)

                &.active.{color[0]} .box
                    background: color[1]
                    if dark(darken(color[1], 20%))
                        color: #FFF
                    else
                        color: darken(color[1], 50%)

            em.ago
                text-align: center
                display: block
                font-size: 9px

            a
                color: inherit

            div.box
                height: 25px
                overflow: hidden
                text-align: center
                vertical-align: middle
                border-radius: 2px

                h5
                    height: 20px
                    line-height: 20px
                    font-size: 10px
                    margin: 0

                p
                    display: none

footer
    position: fixed
    bottom: 0
    left: 0

    &#wide
        width: 100%
        padding-top: 100px

        p
            text-align: center

    &#bottom
        width: 275px

        .wrap
            text-align: center
            padding: 20px

.button
    display: inline-block
    padding: 6px 30px
    text-decoration: none
    position: relative
    line-height: 1

    &:active
        top: 1px

#modal
    div.reveal-modal
        border: #bccad5
        border-radius: 2px
        padding: 0

    .scroll
        overflow-y: auto
        margin: 10px

    h1
        font-size: 22px
        margin: 0
        color: #68718a
        text-shadow: 1px 1px rgba(255,255,255,0.8)
        background: #e0e3ed
        padding: 10px
        border-bottom: 1px solid #bccad5
        border-radius: 2px 2px 0 0

        span.entypo
            margin-right: 4px

    .close-reveal-modal
        color: #68718a
        margin-top: 15px

.pricing-table
    border: solid 1px #DDD
    margin-left: 0
    margin-bottom: 20px
    
    *
        list-style: none
        line-height: 1

    .title
        background-color: #DDD
        padding: 15px 20px
        text-align: center
        color: #333
        font-weight: bold
        font-size: 16px
    
    .price
        background-color: #EEE
        padding: 15px 20px
        text-align: center
        color: #333
        font-weight: normal
        font-size: 20px
    
    .description
        background-color: #FFF
        padding: 15px
        text-align: center
        color: #777
        font-size: 12px
        font-weight: normal
        line-height: 1.4
        border-bottom: dotted 1px #DDD
    
    .bullet-item
        background-color: #FFF
        padding: 15px
        text-align: center
        color: #333
        font-size: 14px
        font-weight: normal
        border-bottom: dotted 1px #DDD
    
    .cta-button
        background-color: whitesmoke
        text-align: center
        padding: 20px

/** ============== Icon fonts ============== */

.entypo
    &:before
        font-family: "Entypo"
        font-weight: normal
        font-size: 1.8em
        line-height: 1em
    
    &.lock:before
        content: "\1f512"
    &.backintime:before
        content: "\e771"
    &.lightup:before
        content: "\1f506"
    &.rightopen:before
        content: "\e762"
    &.clippy:before
        content: "\1f4ce"
    &.crossroads:before
        content: "\e723"
    &.flowbranch:before
        content: "\1F569"
    &.openbook:before
        content: "\1f4d6"
    &.lifebuoy:before
        content: "\e788"
    &.comment:before
        content: "\e718"
    &.help:before
        content: "\2753"