@font-face
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    src: url('../fonts/LatoBold.woff') format('woff'),
    url('../fonts/LatoBold.ttf') format('truetype')

@font-face
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    src: url('../fonts/LatoRegular.woff') format('woff'),
    url('../fonts/LatoRegular.ttf') format('truetype')

@font-face
    font-family: 'Entypo'
    font-style: normal
    font-weight: 400
    src: url('../fonts/Entypo.woff') format('woff'),
    url('../fonts/Entypo.eot') format('eot'),
    url('../fonts/Entypo.ttf') format('truetype'),
    url('../fonts/Entypo.svg') format('svg')

body, html
    height: 100%

body
    margin: 0
    background: transparent
    -webkit-font-smoothing: antialiased

    > div
        height: 100%

body, h1, h2, h3, h4, p, li
    font-family: Lato

a
    cursor: pointer

label
    cursor: default

code
    font-size: 11px

.row
    width: auto
    min-width: auto

div#wrapper
    width: 100%
    min-width: 1000px
    min-height: 100%

div#whiteout
    display: none
    position: absolute
    top: 0
    left: 0
    content: ""
    background: rgba(255,255,255,0.5)
    width: 100%
    height: 100%

header#top
    width: 100%
    background: url('../img/blackorchid.png')
    color: #FFF
    border-top: 3px solid #2ba6cb

    .inner
        margin: 0 auto
        padding: 10px

    a
        color: inherit

    h1
        margin: 0
        padding: 0
        font-size: 20px
        display: inline-block

        span
            font-weight: normal

    .account
        margin-top: 4px

        span
            display: inline-block
            margin: 0 4px
            font-size: 8px
            height: 5px
            margin-bottom: 4px

section#middle
    width: 100%
    padding: 0 0 100px
    height: 100%
    position: relative

    &:after
        content: '.'
        display: block
        clear: both
        visibility: hidden
        height: 0

    div#landing
        width: 1000px
        margin-top: 20px

        h2
            font-size: 20px

        h4
            font-size: 16px
            margin: 0

        ul
            list-style-type: none

    aside
        position: absolute
        top: 0
        width: 250px

        &#left
            left: 0

        &#right
            right: 0

        .wrap
            height: 100%
            position: relative
            padding: 10px 0

        a
            cursor: pointer

        p
            margin: 10px

        h3
            font-size: 16px
            margin: 10px

        h4
            font-size: 14px
            margin: 10px 10px 0 10px

        ul
            list-style-type: none
            margin: 0 10px
            padding: 0

            li
                background-repeat: no-repeat
                background-position: 0 3px

    div#widget
        overflow: hidden

        ul.list, ol.list
            a
                cursor: pointer

        ul.list
            list-style-type: none

        ul.breadcrumbs
            list-style-type: none
            display: none
            margin: 20px 0 0 0

            li
                display: inline-block

                a
                    cursor: pointer
                    padding: 4px 10px

        div.head

            h1
                font-size: 22px
                float: left

            .entypo
                float: left
                margin: 24px 0 0 20px

            em.ago
                float: left
                margin: 23px 0 0 5px

            &:after
                content: ""
                display: block
                clear: both

        h2
            font-size: 18px

        .wrap
            padding: 0 0 0 250px // no space for right sidebar

        .wrap.sidebar
            padding: 0 300px // make space for both sidebars and some

        .half
            float: left
            width: 50%

        ul.accordion
            margin: 0 0 22px 0
            border-bottom: 1px solid #e9e9e9
            
            > li
                list-style: none;
                margin: 0;
                padding: 0;
                border-top: 1px solid #e9e9e9;
                
                > div.title
                    background: #f6f6f6
                    padding: 15px
                    margin: 0
                    position: relative
                    border-left: 1px solid #e9e9e9
                    border-right: 1px solid #e9e9e9
                    -webkit-transition: 0.15s background linear
                    -moz-transition: 0.15s background linear
                    -o-transition: 0.15s background linear
                    transition: 0.15s background linear
                    
                    h1, h2, h3, h4, h5
                        margin: 0;
                    
                    &:after
                        content: ""
                        display: block
                        width: 0
                        height: 0
                        border: solid 6px
                        border-color: transparent #9d9d9d transparent transparent
                        position: absolute
                        right: 15px
                        top: 21px;
                
                .content
                    display: none
                    padding: 15px
        
                &.active
                    border-top: 3px solid #2ba6cb
                    
                    .title
                        background: white
                        padding-top: 13px
                        
                        &:after
                            content: ""
                            display: block
                            width: 0
                            height: 0
                            border: solid 6px
                            border-color: #9d9d9d transparent transparent transparent
        
                    .content
                        background: #FFF
                        display: block
                        border-left: 1px solid #e9e9e9
                        border-right: 1px solid #e9e9e9

div#history
    position: absolute
    bottom: 0
    left: 250px // width of the sidebar
    height: 50% // take up this much of the screen
    display: none
    background: #FFF

    div.container
        height: 100%
        border-top: 3px solid #5da423
        border-left: 1px solid #e9e9e9
        padding: 15px

    div.head
        margin-bottom: 20px
        
        h1
            font-size: 22px
            margin: 0
        
        a.button
            float: right

        &:after
            content: ""
            clear: both
            display: block

    #tools
        margin: 0
        padding: 0
        overflow-x: auto
        overflow-y: auto
        position: relative

        // canvas for connectors
        svg.canvas
            position: absolute
            top: 0
            left: 0

            line.connector
                stroke: lighten(#000, 80%)
                stroke-width: 1px

        // table based system
        table.grid
            position: absolute
            top: 0
            left: 0
            z-index: 2 // over svg
            border-collapse: collapse
            border: 0
            margin: 0
            padding: 0
            background: transparent

            tr
                background: transparent // no alt bg bullshit

            td
                padding: 0

        // div based system
        div.step
            display: inline-block
            width: 180px
            margin: 10px 0

            div.wrap
                width: 160px
                margin: 0 auto

            &.terracotta .box
                background: #e2674a
                color: #FFF
            &.goldentainoi .box
                background: #FFCC66
            &.curiousblue .box
                background: #3399CC
                color: #FFF
            &.turquoise .box
                background: #33CCCC
            &.strikemaster .box
                background: #996699
                color: #FFF
            &.crail .box
                background: #C24747
            &.deyork .box
                background: #99CC99
            &.patina .box
                background: #669999
                color: #FFF
            &.hopbush .box
                background: #CC6699
                color: #FFF
            &.seagreen .box
                background: #339966
                color: #FFF
            &.kimberly .box
                background: #666699
                color: #FFF

            &.active .box > *
                opacity: 1

            em.ago
                text-align: center
                display: block
                font-size: 11px

            a
                color: inherit

            div.box
                background: #CEF2FB
                padding: 10px 20px
                height: 60px
                overflow: hidden

                > *
                    opacity: 0.3

                h3
                    font-size: 16px
                    margin: 0

                p
                    margin: 5px 0 0 0
                    line-height: 1
                    font-size: 12px

footer
    position: fixed
    bottom: 0
    left: 0

    &#wide
        width: 100%

        p
            text-align: center

    &#bottom
        width: 250px

        .wrap
            margin-top: 20px
            padding: 20px 10px

.button
    display: inline-block
    padding: 6px 30px
    text-decoration: none
    position: relative
    line-height: 1

    &:active
        top: 1px

.entypo
    font-family: "Entypo"
    
    &.lock:before
        content: "\1f512"
    &.backintime:before
        content: "\e771"
    &.lightup:before
        content: "\1f506"
    &.rightopen:before
        content: "\e762"

#modal
    .scroll
        overflow-y: auto

    .code
        background: inherit

.pricing-table
    border: solid 1px #DDD
    margin-left: 0
    margin-bottom: 20px
    
    *
        list-style: none
        line-height: 1

    .title
        background-color: #DDD
        padding: 15px 20px
        text-align: center
        color: #333
        font-weight: bold
        font-size: 16px
    
    .price
        background-color: #EEE
        padding: 15px 20px
        text-align: center
        color: #333
        font-weight: normal
        font-size: 20px
    
    .description
        background-color: #FFF
        padding: 15px
        text-align: center
        color: #777
        font-size: 12px
        font-weight: normal
        line-height: 1.4
        border-bottom: dotted 1px #DDD
    
    .bullet-item
        background-color: #FFF
        padding: 15px
        text-align: center
        color: #333
        font-size: 14px
        font-weight: normal
        border-bottom: dotted 1px #DDD
    
    .cta-button
        background-color: whitesmoke
        text-align: center
        padding: 20px