/** ============== Functions ============== */
/** ============== Vars ============== */
/** ============== Fonts ============== */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/LatoBold.woff") format('woff'), url("../fonts/LatoBold.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/LatoRegular.woff") format('woff'), url("../fonts/LatoRegular.ttf") format('truetype');
}
@font-face {
  font-family: 'Entypo';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Entypo.woff") format('woff'), url("../fonts/Entypo.eot") format('eot'), url("../fonts/Entypo.ttf") format('truetype'), url("../fonts/Entypo.svg") format('svg');
}
/** ============== Generic styles ============== */
body,
html {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background: url("../img/p6.png");
}
body,
h1,
h2,
h3,
h4,
p,
li,
table thead tr th,
table tbody tr td {
  font-family: Lato;
  color: #68718a;
}
a {
  cursor: pointer;
  color: #579ed7;
}
a:hover {
  color: #2971ab;
}
table {
  width: 100%;
}
label {
  cursor: default;
}
.label {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(104,113,138,0.15)), color-stop(1, rgba(104,113,138,0.4)));
  background: -webkit-linear-gradient(top, rgba(104,113,138,0.15) 0%, rgba(104,113,138,0.4) 100%);
  background: -moz-linear-gradient(top, rgba(104,113,138,0.15) 0%, rgba(104,113,138,0.4) 100%);
  background: -o-linear-gradient(top, rgba(104,113,138,0.15) 0%, rgba(104,113,138,0.4) 100%);
  background: -ms-linear-gradient(top, rgba(104,113,138,0.15) 0%, rgba(104,113,138,0.4) 100%);
  background: linear-gradient(top, rgba(104,113,138,0.15) 0%, rgba(104,113,138,0.4) 100%);
  color: #68718a;
  text-shadow: -1px -1px rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 1px 1px 3px rgba(104,113,138,0.2);
  box-shadow: inset 1px 1px 3px rgba(104,113,138,0.2);
  border: 1px solid rgba(104,113,138,0.3);
}
code {
  font-size: 10px;
  background: inherit;
}
p {
  margin: 0;
}
p code {
  font-weight: normal;
  font-size: 11px;
}
::-webkit-input-placeholder {
  color: #aaaec1;
}
input[type="checkbox"] {
  cursor: pointer;
}
input.filter {
  display: none;
}
.help,
.help:before {
  color: rgba(0,0,0,0.2);
  cursor: pointer;
}
div.panel {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #bccad5;
}
.button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #71b9ec), color-stop(1, #54a1e7));
  background: -webkit-linear-gradient(top, #71b9ec 0%, #54a1e7 100%);
  background: -moz-linear-gradient(top, #71b9ec 0%, #54a1e7 100%);
  background: -o-linear-gradient(top, #71b9ec 0%, #54a1e7 100%);
  background: -ms-linear-gradient(top, #71b9ec 0%, #54a1e7 100%);
  background: linear-gradient(top, #71b9ec 0%, #54a1e7 100%);
  border-color: #5fa4de;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(0,0,0,0.25);
}
.button.secondary {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafbfd), color-stop(1, #e8ecf1));
  background: -webkit-linear-gradient(top, #fafbfd 0%, #e8ecf1 100%);
  background: -moz-linear-gradient(top, #fafbfd 0%, #e8ecf1 100%);
  background: -o-linear-gradient(top, #fafbfd 0%, #e8ecf1 100%);
  background: -ms-linear-gradient(top, #fafbfd 0%, #e8ecf1 100%);
  background: linear-gradient(top, #fafbfd 0%, #e8ecf1 100%);
  border-color: #bfcfda;
  color: #838b9f;
  text-shadow: 1px 1px #fff;
}
table {
  margin: 0;
}
table.table {
  border-collapse: collapse;
  border: 0;
}
table.table tbody {
  border: 1px solid #e0e3ed;
  border-left: 3px solid #e0e3ed;
}
table.table tr th {
  background: #fff;
  border-bottom: 1px solid #e0e3ed;
}
table.table tr:nth-child(odd) td {
  border-bottom: 1px solid #e0e3ed;
}
table.table tr:nth-child(even) td {
  background: #f5f6f9;
}
table.tabs {
  background: inherit;
  border: 0;
  border-collapse: collapse;
}
table.tabs td {
  padding: 0;
  vertical-align: bottom;
  height: 38px;
}
table.tabs td div {
  height: 100%;
  cursor: pointer;
  position: relative;
}
table.tabs td div:before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
table.tabs td div h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 15px;
  padding-top: 15px;
}
table.tabs td.labeled div {
  padding-right: 15px;
}
table.tabs td.labeled div .count {
  text-shadow: -1px -1px rgba(0,0,0,0.2);
  position: absolute;
  top: 12px;
  right: 10px;
  background: #5aa4e0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  padding: 0 6px 1px 6px;
}
table.tabs td.active {
  border-right: 1px solid #cad6df;
  border-bottom-color: #f5f6f9;
}
table.tabs td.active div h3 {
  color: #68718a;
}
table.tabs td.active div:before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #74bcf0), color-stop(1, #56a7ec));
  background: -webkit-linear-gradient(top, #74bcf0 0%, #56a7ec 100%);
  background: -moz-linear-gradient(top, #74bcf0 0%, #56a7ec 100%);
  background: -o-linear-gradient(top, #74bcf0 0%, #56a7ec 100%);
  background: -ms-linear-gradient(top, #74bcf0 0%, #56a7ec 100%);
  background: linear-gradient(top, #74bcf0 0%, #56a7ec 100%);
  border-right: 1px solid #7c98ab;
}
table.tabs td.inactive {
  -webkit-box-shadow: inset 2px 1px 5px 0 rgba(0,0,0,0.1);
  box-shadow: inset 2px 1px 5px 0 rgba(0,0,0,0.1);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f9fd), color-stop(1, #eceef3));
  background: -webkit-linear-gradient(top, #f7f9fd 0%, #eceef3 100%);
  background: -moz-linear-gradient(top, #f7f9fd 0%, #eceef3 100%);
  background: -o-linear-gradient(top, #f7f9fd 0%, #eceef3 100%);
  background: -ms-linear-gradient(top, #f7f9fd 0%, #eceef3 100%);
  background: linear-gradient(top, #f7f9fd 0%, #eceef3 100%);
  border-bottom: 1px solid #cad6df;
}
table.tabs td.inactive div h3 {
  color: #a7b4c7;
  text-shadow: 1px 1px rgba(255,255,255,0.5);
}
table.tabs td.inactive div:before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #afbed4), color-stop(1, #a3b4ce));
  background: -webkit-linear-gradient(top, #afbed4 0%, #a3b4ce 100%);
  background: -moz-linear-gradient(top, #afbed4 0%, #a3b4ce 100%);
  background: -o-linear-gradient(top, #afbed4 0%, #a3b4ce 100%);
  background: -ms-linear-gradient(top, #afbed4 0%, #a3b4ce 100%);
  background: linear-gradient(top, #afbed4 0%, #a3b4ce 100%);
}
ul.tools li {
  margin: 0 -10px;
}
ul.tools li.terracotta a:before {
  background: #e2674a;
}
ul.tools li.goldentainoi a:before {
  background: #fc6;
}
ul.tools li.curiousblue a:before {
  background: #39c;
}
ul.tools li.turq a:before {
  background: #3cc;
}
ul.tools li.strikemaster a:before {
  background: #969;
}
ul.tools li.crail a:before {
  background: #c24747;
}
ul.tools li.deyork a:before {
  background: #9c9;
}
ul.tools li.patina a:before {
  background: #699;
}
ul.tools li.hopbush a:before {
  background: #c69;
}
ul.tools li.seagrn a:before {
  background: #396;
}
ul.tools li.kimberly a:before {
  background: #669;
}
ul.tools li span.entypo {
  position: relative;
  z-index: 1;
  margin-right: 5px;
}
ul.tools li a {
  cursor: pointer;
  color: #5b617d;
  text-shadow: 1px 1px rgba(255,255,255,0.5);
  display: block;
  padding: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 100ms ease-out;
  -moz-transition: color 100ms ease-out;
  -o-transition: color 100ms ease-out;
  -ms-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
  position: relative;
  padding: 0 10px 0 24px;
}
ul.tools li a:before {
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 10px;
  background: #5b617d;
}
ul.tools li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8ac8f1), color-stop(1, #59a6e8));
  background: -webkit-linear-gradient(top, #8ac8f1 0%, #59a6e8 100%);
  background: -moz-linear-gradient(top, #8ac8f1 0%, #59a6e8 100%);
  background: -o-linear-gradient(top, #8ac8f1 0%, #59a6e8 100%);
  background: -ms-linear-gradient(top, #8ac8f1 0%, #59a6e8 100%);
  background: linear-gradient(top, #8ac8f1 0%, #59a6e8 100%);
  border-top: 1px solid #5fa4de;
  border-bottom: 1px solid #4d93d8;
  color: #fff;
  text-shadow: 1px 1px #4d93d8;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(255,255,255,0.5);
  box-shadow: inset 0 0 2px 0 rgba(255,255,255,0.5);
}
ul.timeline {
  margin: 0;
}
ul.timeline li {
  padding: 8px 15px;
  position: relative;
}
ul.timeline li:nth-child(even) {
  background: #f5f6f9;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);
}
ul.timeline li:not(:last-child) {
  border-bottom: 1px solid #dbe7ef;
}
ul.timeline li.scooter {
  background: rgba(46,198,200,0.05);
}
ul.timeline li.scooter a {
  color: #259ea0;
}
ul.timeline li .head h5 {
  margin: 0;
  font-size: 14px;
  display: inline-block;
  color: rgba(104,113,138,0.9);
}
ul.timeline li .head span.ago {
  font-size: 12px;
  color: rgba(104,113,138,0.7);
}
ul.timeline li .head span.entypo {
  display: inline-block;
  margin-right: 4px;
  color: rgba(104,113,138,0.7);
}
ul.timeline li p {
  margin: 0;
}
.noactions {
  display: none;
  font-size: 13px;
  font-style: italic;
}
.popup {
  font-size: 10px;
  padding: 0px 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 7px;
  right: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafbfd), color-stop(1, #e8ecf1));
  background: -webkit-linear-gradient(top, #fafbfd 0%, #e8ecf1 100%);
  background: -moz-linear-gradient(top, #fafbfd 0%, #e8ecf1 100%);
  background: -o-linear-gradient(top, #fafbfd 0%, #e8ecf1 100%);
  background: -ms-linear-gradient(top, #fafbfd 0%, #e8ecf1 100%);
  background: linear-gradient(top, #fafbfd 0%, #e8ecf1 100%);
  border: 1px solid #bfcfda;
  color: #838b9f;
  text-shadow: 1px 1px #fff;
  cursor: pointer;
  opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
.popup:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.row {
  width: auto;
  min-width: 0;
}
/** ============== Elements ============== */
div#wrapper {
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
}
header#top {
  width: 100%;
  color: #97a5b8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #455b7c), color-stop(1, #3d516e));
  background: -webkit-linear-gradient(top, #455b7c 0%, #3d516e 100%);
  background: -moz-linear-gradient(top, #455b7c 0%, #3d516e 100%);
  background: -o-linear-gradient(top, #455b7c 0%, #3d516e 100%);
  background: -ms-linear-gradient(top, #455b7c 0%, #3d516e 100%);
  background: linear-gradient(top, #455b7c 0%, #3d516e 100%);
  border-bottom: 1px solid #34455e;
  -webkit-box-shadow: 0 0 1px 1px #888;
  box-shadow: 0 0 1px 1px #888;
  text-shadow: -1px -1px rgba(0,0,0,0.2);
}
header#top .row {
  width: 1000px;
}
header#top a {
  color: #fff;
}
header#top .first a {
  color: inherit;
}
header#top .first h1 {
  margin: 0;
  padding: 10px 0 10px 10px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
}
header#top .first h1 span {
  font-weight: normal;
}
header#top .second {
  vertical-align: top;
}
header#top .second input#search {
  margin: 10px 10px 10px 0;
  width: 100%;
  float: left;
}
header#top .second #always-on {
  float: left;
}
header#top .second #always-on h4,
header#top .second #always-on .button.show,
header#top .second #always-on p.noactions {
  display: none;
}
header#top .second #always-on ul.tools {
  list-style-type: none;
  margin: 14px 0;
}
header#top .second #always-on ul.tools li {
  margin: 0;
  display: inline-block;
}
header#top .second #always-on ul.tools li span.entypo {
  display: none;
}
header#top .second #always-on ul.tools li a {
  white-space: nowrap;
  text-shadow: none;
  padding-right: 25px;
}
header#top .second #always-on ul.tools li a:hover {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
header#top .second #always-on ul.tools li.button {
  padding: 0;
}
header#top .second #always-on ul.tools li.button a,
header#top .second #always-on ul.tools li.button a:hover {
  padding: 6px 15px 6px 25px;
  background: none;
  border: 0;
  text-shadow: 1px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
header#top .third {
  text-align: right;
  line-height: 30px;
  padding: 10px;
}
header#top .third span {
  display: inline-block;
  margin: 0 4px;
  font-size: 8px;
  height: 18px;
}
body.app header#top .first,
body.app header#top .second,
body.app header#top .third {
  display: inline-block;
}
body.app header#top .second {
  padding-left: 20px;
}
body.app header#top .second input#search {
  width: 400px;
}
body.app header#top .third {
  float: right;
  width: 250px;
}
section#middle {
  position: relative;
}
section#middle:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
section#middle.narrow div.row {
  width: 1000px;
}
section#middle div.row {
  margin-top: 20px;
}
section#middle div.row h2 {
  font-size: 20px;
}
section#middle div.row h4 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
}
section#middle div.row ul {
  list-style-type: none;
}
section#middle .hidden {
  display: none !important;
}
section#middle .box {
  background: #fefefe;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #bccad5;
  -webkit-box-shadow: -3px 3px 3px rgba(0,0,0,0.05);
  box-shadow: -3px 3px 3px rgba(0,0,0,0.05);
}
section#middle .box h2 {
  margin: 0;
  padding: 4px 15px;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f8fc), color-stop(1, #eceef3));
  background: -webkit-linear-gradient(top, #f6f8fc 0%, #eceef3 100%);
  background: -moz-linear-gradient(top, #f6f8fc 0%, #eceef3 100%);
  background: -o-linear-gradient(top, #f6f8fc 0%, #eceef3 100%);
  background: -ms-linear-gradient(top, #f6f8fc 0%, #eceef3 100%);
  background: linear-gradient(top, #f6f8fc 0%, #eceef3 100%);
  border-bottom: 1px solid #cbd8e2;
}
section#middle .box h3 {
  text-transform: uppercase;
  font-size: 12px;
}
section#middle .box div.tools {
  padding: 15px;
}
section#middle .box div.tools ul.tools {
  margin: 0;
}
section#middle .box div.tools ul.tools.size-0 {
  margin-left: 0px;
}
section#middle .box div.tools ul.tools.size-1 {
  margin-left: 10px;
}
section#middle .box div.tools ul.tools.size-2 {
  margin-left: 20px;
}
section#middle .box div.tools ul.tools.size-3 {
  margin-left: 30px;
}
section#middle .box div.tools ul.tools.size-4 {
  margin-left: 40px;
}
section#middle .box div.tools ul.tools.size-5 {
  margin-left: 50px;
}
section#middle .box div.tools ul.tools.size-6 {
  margin-left: 60px;
}
section#middle .box div.tools ul.tools.size-7 {
  margin-left: 70px;
}
section#middle .box div.tools ul.tools.size-8 {
  margin-left: 80px;
}
section#middle .box div.tools ul.tools.size-9 {
  margin-left: 90px;
}
section#middle .box div.tools h4 {
  margin-bottom: 10px;
}
section#middle .box div.tools h4:not(:first-child) {
  margin-top: 10px;
}
section#middle .box div.tools h4.size-0 {
  font-size: 16px;
  margin-left: 0px;
}
section#middle .box div.tools h4.size-1 {
  font-size: 13px;
  margin-left: 10px;
  font-weight: normal;
}
section#middle .box div.tools h4.size-2 {
  font-size: 10px;
  margin-left: 20px;
  font-weight: normal;
}
section#middle .box div.tools h4.size-3 {
  font-size: 7px;
  margin-left: 30px;
  font-weight: normal;
}
section#middle .box div.tools h4.size-4 {
  font-size: 4px;
  margin-left: 40px;
  font-weight: normal;
}
section#middle .box div.tools h4.size-5 {
  font-size: 1px;
  margin-left: 50px;
  font-weight: normal;
}
section#middle .box div.tools h4.size-6 {
  font-size: -2px;
  margin-left: 60px;
  font-weight: normal;
}
section#middle .box div.tools h4.size-7 {
  font-size: -5px;
  margin-left: 70px;
  font-weight: normal;
}
section#middle .box div.tools h4.size-8 {
  font-size: -8px;
  margin-left: 80px;
  font-weight: normal;
}
section#middle .box div.tools h4.size-9 {
  font-size: -11px;
  margin-left: 90px;
  font-weight: normal;
}
section#middle .box .noactions {
  margin: -15px 15px 15px 15px;
}
section#middle .box .content {
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
section#middle .nobox h2 {
  margin-top: 0;
}
section#middle aside {
  position: absolute;
  top: 0;
  width: 250px;
}
section#middle aside#left {
  left: 0;
  width: 275px;
}
section#middle aside#right {
  background: #f5f6f9;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  top: 20px;
  right: 20px;
  border: 1px solid #bccad5;
  -webkit-box-shadow: -3px 3px 3px rgba(0,0,0,0.05);
  box-shadow: -3px 3px 3px rgba(0,0,0,0.05);
}
section#middle aside#right .content {
  padding: 10px 15px;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
section#middle aside#left p,
section#middle aside#left h3,
section#middle aside#left h4,
section#middle aside#left ul,
section#middle aside#left input.filter,
section#middle aside#left .button.show {
  margin: 10px;
}
section#middle aside#left h3 {
  margin: 20px 10px;
}
section#middle aside h3 {
  text-transform: uppercase;
  font-size: 12px;
}
section#middle aside h4 {
  font-size: 14px;
  color: #5b617d;
}
section#middle aside ul {
  list-style-type: none;
  padding: 0;
}
section#middle aside ul li {
  background-repeat: no-repeat;
  background-position: 0 3px;
}
section#middle div#widget {
  overflow: hidden;
  margin-top: 1px;
  padding-bottom: 5px;
}
section#middle div#widget ul.list a,
section#middle div#widget ol.list a {
  cursor: pointer;
}
section#middle div#widget ul.list {
  list-style-type: none;
}
section#middle div#widget ul.breadcrumbs {
  list-style-type: none;
  display: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f4f6fb));
  background: -webkit-linear-gradient(top, #fff 0%, #f4f6fb 100%);
  background: -moz-linear-gradient(top, #fff 0%, #f4f6fb 100%);
  background: -o-linear-gradient(top, #fff 0%, #f4f6fb 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f4f6fb 100%);
  background: linear-gradient(top, #fff 0%, #f4f6fb 100%);
  border: 0;
  border-bottom: 1px solid #cbd8e2;
  margin: 0;
  padding-left: 20px;
  font-weight: bold;
}
section#middle div#widget ul.breadcrumbs li {
  display: inline-block;
  padding: 0;
}
section#middle div#widget ul.breadcrumbs li::before {
  content: "";
}
section#middle div#widget ul.breadcrumbs li a {
  cursor: pointer;
  padding: 0 4px;
}
section#middle div#widget div.head {
  background: #e0e3ed;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.03);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.03);
}
section#middle div#widget div.head h1 {
  font-size: 22px;
  float: left;
  margin: 20px;
  margin-right: 10px;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
}
section#middle div#widget div.head h1:before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 4px solid #fff;
  margin-right: 10px;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}
section#middle div#widget div.head h1.terracotta:before {
  background: #e2674a;
}
section#middle div#widget div.head h1.goldentainoi:before {
  background: #fc6;
}
section#middle div#widget div.head h1.curiousblue:before {
  background: #39c;
}
section#middle div#widget div.head h1.turq:before {
  background: #3cc;
}
section#middle div#widget div.head h1.strikemaster:before {
  background: #969;
}
section#middle div#widget div.head h1.crail:before {
  background: #c24747;
}
section#middle div#widget div.head h1.deyork:before {
  background: #9c9;
}
section#middle div#widget div.head h1.patina:before {
  background: #699;
}
section#middle div#widget div.head h1.hopbush:before {
  background: #c69;
}
section#middle div#widget div.head h1.seagrn:before {
  background: #396;
}
section#middle div#widget div.head h1.kimberly:before {
  background: #669;
}
section#middle div#widget div.head .entypo {
  float: left;
  margin: 24px 0 0 20px;
}
section#middle div#widget div.head em.ago {
  float: left;
  margin: 29px 0 0 0;
}
section#middle div#widget div.head:after {
  content: "";
  display: block;
  clear: both;
}
section#middle div#widget h2 {
  font-size: 18px;
}
section#middle div#widget .wrap {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 20px 295px 0 20px;
  padding: 0;
  border: 1px solid #bccad5;
  -webkit-box-shadow: -3px 3px 3px rgba(0,0,0,0.05);
  box-shadow: -3px 3px 3px rgba(0,0,0,0.05);
  position: relative;
}
section#middle div#widget .half {
  float: left;
  width: 50%;
}
section#middle div#widget ul.accordion {
  margin: 0;
  border: 0;
}
section#middle div#widget ul.accordion > li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #cbd8e2;
}
section#middle div#widget ul.accordion > li:last-child > div.title {
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  padding-bottom: 17px;
}
section#middle div#widget ul.accordion > li > div.title {
  background: #f6f6f6;
  padding: 15px;
  margin: 0;
  position: relative;
  -webkit-transition: 0.15s background linear;
  -moz-transition: 0.15s background linear;
  -o-transition: 0.15s background linear;
  -ms-transition: 0.15s background linear;
  transition: 0.15s background linear;
}
section#middle div#widget ul.accordion > li > div.title h1,
section#middle div#widget ul.accordion > li > div.title h2,
section#middle div#widget ul.accordion > li > div.title h3,
section#middle div#widget ul.accordion > li > div.title h4,
section#middle div#widget ul.accordion > li > div.title h5 {
  margin: 0;
}
section#middle div#widget ul.accordion > li > div.title:after {
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: transparent #9d9d9d transparent transparent;
  position: absolute;
  right: 15px;
  top: 21px;
}
section#middle div#widget ul.accordion > li .content {
  display: none;
  padding: 15px;
}
section#middle div#widget ul.accordion > li:not(.active) .title {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f8fc), color-stop(1, #eceef3));
  background: -webkit-linear-gradient(top, #f6f8fc 0%, #eceef3 100%);
  background: -moz-linear-gradient(top, #f6f8fc 0%, #eceef3 100%);
  background: -o-linear-gradient(top, #f6f8fc 0%, #eceef3 100%);
  background: -ms-linear-gradient(top, #f6f8fc 0%, #eceef3 100%);
  background: linear-gradient(top, #f6f8fc 0%, #eceef3 100%);
}
section#middle div#widget ul.accordion > li.active {
  border-top: 1px solid #bccad5;
}
section#middle div#widget ul.accordion > li.active .title {
  background: #fff;
  padding-top: 13px;
}
section#middle div#widget ul.accordion > li.active .title:after {
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: #9d9d9d transparent transparent transparent;
}
section#middle div#widget ul.accordion > li.active .content {
  background: #fff;
  display: block;
}
section#middle code#example {
  overflow: hidden;
  display: block;
  line-height: 14px;
  font-size: 11px;
}
section#middle .description p {
  margin: 10px 0 5px 0;
}
section#middle .description dl {
  margin-top: 10px;
}
section#middle .description dl dt {
  font-size: 11px;
  font-family: monospace;
  margin-bottom: 5px;
}
section#middle .description dl dd {
  padding-left: 20px;
  line-height: 16px;
}
section#middle .description dl dd:not(:last-child) {
  margin-bottom: 15px;
}
div#history {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 33%;
  background: #fff;
  border-top: 1px solid #bccad5;
  -webkit-box-shadow: -10px 0 10px rgba(0,0,0,0.2);
  box-shadow: -10px 0 10px rgba(0,0,0,0.2);
}
div#history div.container {
  background: #fff;
  margin-left: 20px;
  height: 100%;
  border: 1px solid #bccad5;
  border-bottom: 0;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: -3px 3px 3px rgba(0,0,0,0.05), 3px -3px 5px rgba(218,222,233,0.5);
  box-shadow: -3px 3px 3px rgba(0,0,0,0.05), 3px -3px 5px rgba(218,222,233,0.5);
}
div#history div.head {
  padding: 10px;
  background: #e0e3ed;
  margin-bottom: 20px;
  border-bottom: 1px solid #bccad5;
}
div#history div.head a.button {
  margin-top: 6px;
}
div#history div.head h1 {
  font-size: 22px;
  margin: 0;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
}
div#history div.head h1 span {
  margin-right: 4px;
}
div#history div.head p {
  display: none;
}
div#history div.head a.button {
  float: right;
}
div#history div.head:after {
  content: "";
  clear: both;
  display: block;
}
div#history #tools {
  margin: 0 10px;
  padding: 0;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
}
div#history #tools svg.canvas {
  position: absolute;
  top: 0;
  left: 0;
}
div#history #tools svg.canvas line.connector {
  stroke: #ccc;
  stroke-width: 1px;
}
div#history #tools table.grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-collapse: collapse;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}
div#history #tools table.grid tr {
  background: transparent;
}
div#history #tools table.grid td {
  padding: 0;
  text-align: center;
}
div#history #tools div.step {
  display: inline-block;
  width: 100px;
  margin: 5px 0;
}
div#history #tools div.step div.wrap {
  width: 80px;
  margin: 0 auto;
}
div#history #tools div.step.terracotta .box {
  background: #eea492;
  border: 1px solid #cf4221;
  border-width: 3px 1px 1px 1px;
  color: #cf4221;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.terracotta .box {
  background: #e2674a;
  color: #fff;
}
div#history #tools div.step.goldentainoi .box {
  background: #ffe0a3;
  border: 1px solid #ffb41f;
  border-width: 3px 1px 1px 1px;
  color: #ffb41f;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.goldentainoi .box {
  background: #fc6;
  color: #b27700;
}
div#history #tools div.step.curiousblue .box {
  background: #85c2e0;
  border: 1px solid #297aa3;
  border-width: 3px 1px 1px 1px;
  color: #297aa3;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.curiousblue .box {
  background: #39c;
  color: #fff;
}
div#history #tools div.step.turq .box {
  background: #85e0e0;
  border: 1px solid #29a3a3;
  border-width: 3px 1px 1px 1px;
  color: #29a3a3;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.turq .box {
  background: #3cc;
  color: #fff;
}
div#history #tools div.step.strikemaster .box {
  background: #c2a3c2;
  border: 1px solid #7a527a;
  border-width: 3px 1px 1px 1px;
  color: #7a527a;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.strikemaster .box {
  background: #969;
  color: #fff;
}
div#history #tools div.step.crail .box {
  background: #da9191;
  border: 1px solid #9f3535;
  border-width: 3px 1px 1px 1px;
  color: #9f3535;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.crail .box {
  background: #c24747;
  color: #fff;
}
div#history #tools div.step.deyork .box {
  background: #c2e0c2;
  border: 1px solid #69b469;
  border-width: 3px 1px 1px 1px;
  color: #69b469;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.deyork .box {
  background: #9c9;
  color: #3b773b;
}
div#history #tools div.step.patina .box {
  background: #a3c2c2;
  border: 1px solid #527a7a;
  border-width: 3px 1px 1px 1px;
  color: #527a7a;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.patina .box {
  background: #699;
  color: #fff;
}
div#history #tools div.step.hopbush .box {
  background: #e0a3c2;
  border: 1px solid #b83d7a;
  border-width: 3px 1px 1px 1px;
  color: #b83d7a;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.hopbush .box {
  background: #c69;
  color: #fff;
}
div#history #tools div.step.seagrn .box {
  background: #75d1a3;
  border: 1px solid #297a52;
  border-width: 3px 1px 1px 1px;
  color: #297a52;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.seagrn .box {
  background: #396;
  color: #fff;
}
div#history #tools div.step.kimberly .box {
  background: #a3a3c2;
  border: 1px solid #52527a;
  border-width: 3px 1px 1px 1px;
  color: #52527a;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
}
div#history #tools div.step.active.kimberly .box {
  background: #669;
  color: #fff;
}
div#history #tools div.step em.ago {
  text-align: center;
  display: block;
  font-size: 9px;
}
div#history #tools div.step a {
  color: inherit;
}
div#history #tools div.step div.box {
  height: 25px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
div#history #tools div.step div.box h5 {
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  margin: 0;
}
div#history #tools div.step div.box p {
  display: none;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
footer#wide {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(247,247,247,0)), color-stop(0.5, #fff));
  background: -webkit-linear-gradient(top, rgba(247,247,247,0) 0%, #fff 50%);
  background: -moz-linear-gradient(top, rgba(247,247,247,0) 0%, #fff 50%);
  background: -o-linear-gradient(top, rgba(247,247,247,0) 0%, #fff 50%);
  background: -ms-linear-gradient(top, rgba(247,247,247,0) 0%, #fff 50%);
  background: linear-gradient(top, rgba(247,247,247,0) 0%, #fff 50%);
}
footer#wide p {
  text-align: center;
}
footer#bottom {
  width: 275px;
}
footer#bottom .wrap {
  text-align: center;
  padding: 20px;
}
.button {
  display: inline-block;
  padding: 6px 30px;
  text-decoration: none;
  position: relative;
  line-height: 1;
}
.button:active {
  top: 1px;
}
#modal div.reveal-modal {
  border: 1px solid #bccad5;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0;
}
#modal .scroll {
  overflow-y: auto;
  margin: 10px;
}
#modal h1 {
  font-size: 22px;
  margin: 0;
  color: #68718a;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
  background: #e0e3ed;
  padding: 10px;
  border-bottom: 1px solid #bccad5;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
#modal h1 span.entypo {
  margin-right: 4px;
}
#modal .close-reveal-modal {
  color: #68718a;
  margin-top: 15px;
}
/** ============== Icon fonts ============== */
.entypo:before {
  font-family: "Entypo";
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1em;
}
.entypo.lock:before {
  content: "\1f512";
}
.entypo.backintime:before {
  content: "\e771";
}
.entypo.lightup:before {
  content: "\1f506";
}
.entypo.rightopen:before {
  content: "\e762";
}
.entypo.clippy:before {
  content: "\1f4ce";
}
.entypo.crossroads:before {
  content: "\e723";
}
.entypo.flowbranch:before {
  content: "\1F569";
}
.entypo.openbook:before {
  content: "\1f4d6";
}
.entypo.lifebuoy:before {
  content: "\e788";
}
.entypo.comment:before {
  content: "\e718";
}
.entypo.help:before {
  content: "\2753";
}
.entypo.database:before {
  content: "\1F4F8";
}
.entypo.clipboard:before {
  content: "\1F4CB";
}
.entypo.download:before {
  content: "\1F4E5";
}
.entypo.popup:before {
  content: "\E74C";
}
.entypo.cog:before {
  content: "\2699";
}
/** ============== Hacks ============== */
doesnotexist:-o-prefocus,
div#history #tools svg.canvas line.connector {
  stroke-width: 2px;
}
